/*added by huanghui 2015.04.07*/
a,article,aside,body,code,dd,div,dl,dt,em,footer,form,h1,h2,h3,header,html,input,label,li,nav,ol,p,section,small,span,strong,textarea,time,ul{margin:0;padding:0;font-family:"寰蒋闆呴粦"}
ol,ul{list-style:none}
h1,h2,h3,input{font-size:100%}
img{border:0;vertical-align:middle}
input,label{vertical-align:middle}
a,a:hover,a:visited{text-decoration:none;color:#238cff;cursor:pointer}
input[type=button],input[type=submit],input[type=reset]{-webkit-appearance:none}
body{position:relative;font-size:12px;font-family:"寰蒋闆呴粦",normal Tahoma,Helvetica,"Microsoft Yahei",Arial,STHeiti;-webkit-text-size-adjust:none;overflow-x:hidden;background:#FAFAFA;color:#333}
h1 {position: absolute;left: 0;top: -30px;margin-top: -30px;height: 30px;line-height: 30px;font-size: 18px;}
:focus{outline:0}
.login-wapper{text-align:center}
.close{overflow:hidden;position:absolute;top:8px;left:8px;width:22px;height:22px;text-indent:-300px}
.close::after,.close::before{content:" ";position:absolute;left:0;top:10px;width:22px;height:1px;background:#fff;-webkit-transform:rotateZ(45deg);-moz-transform:rotateZ(45deg);-ms-transform:rotateZ(45deg);-o-transform:rotateZ(45deg);transform:rotateZ(45deg)}
.close::after{-webkit-transform:rotateZ(-45deg);-moz-transform:rotateZ(-45deg);-ms-transform:rotateZ(-45deg);-o-transform:rotateZ(-45deg);transform:rotateZ(-45deg)}
.logo{background:#36aaa4;height:180px}
.logo img{width:229px;height:140px;margin-top:25px}
.pass-login p{position:relative;padding:10px;margin:0;border-bottom:1px solid #ECECEC;padding-left:12px;height:26px;background:#fff}
.login-un{border-top:1px solid #ECECEC}
.login-btn{padding:20px}
.login-link{margin:0 10px 30px;position:relative;top:0;left:0}
.pass-login img{position:absolute;left:15px;top:16px;width:20px}
.login-pw img{top:12px}
.pass-login span{position:absolute;top:8px;left:10px;width:32px;height:32px;display:inline;background:url(../images/wap/icon_input.png) no-repeat 0 4px}
.login-pw span{background-position:0 -32px}
.logon-yzm span{background-position:0 -66px}
.login-wjmm{position:absolute;left:0;top:0}
.login-ljzc{position:absolute;right:0;top:0}
.ui-input{display:block;border:none;margin-left:35px;width:90%;font-size:.9275rem;background:#fff;outline:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;height:28px;line-height:30px}
.ui-btn{display:block;width:100%;border:1px solid #36aaa4;color:#fff;background:#36aaa4;text-align:center;-webkit-border-radiu:5px;border-radius:4px;font-size:16px;font-size:1.14rem;height:36px;line-height:36px;height:2.57rem;line-height:2.57rem}
.ui-btn:hover{background: #339893;}
.btn-disabled{background-color: #f1f1f1;border: 1px solid #ccc;color: #ccc;cursor: default;}
.btn-disabled:hover{background: #f1f1f1;}
.login-error{color:#f52b2b;padding:5px 0;height:20px}
.page-wrapper{background:#FAFAFA}
.pw-header{background:#36aaa4;border-bottom:1px solid #ccc;height:48px;line-height:50px;padding:0 10px;position:relative;display:block;text-align:left;color:#fff}
.ph-title{font-size:20px}
.ph-goback{display:inline-block;overflow:hidden;position:relative;top:4px;left:0;width:20px;height:20px}
.ph-goback::after{content:" ";position:absolute;left:4px;top:4px;width:8px;height:8px;border:2px solid #fff;border-top:none;border-right:none;-webkit-transform:rotateZ(45deg);-moz-transform:rotateZ(45deg);-ms-transform:rotateZ(45deg);-o-transform:rotateZ(45deg);transform:rotateZ(45deg)}
.ph-links,.ph-links:hover,.ph-links:visited{margin:6px 0;font-size:16px;line-height:30px;text-align:center;color:#F2F2F2;display:block;position:absolute;right:10px;top:0}
.ph-links img{height:20px}
.pw-content{margin:0 auto;padding-bottom:50px;padding-bottom:.25rem}
.pw-news{margin:15px 0}
.pw-news img{width:100%;cursor:pointer}
.pw-block{border-top:1px solid #ddd;border-bottom:1px solid #ddd;margin:15px 0;padding:10px 15px;background:#fff}
.pw-block h3{font-size:18px;padding:6px 0;font-weight:400}
.pw-block li{font-size:16px;line-height:28px;padding:8px 0;border-top:1px solid #eee}
.pw-block li a{color:#333}
.pw-block li a:visited{color:#999}
.pw-footer{position:fixed;bottom:0;left:0;border-top:1px solid #ccc;width:100%;height:50px;background:#fff}
.pw-footer li{float:left;width:25%;text-align:center;height:50px}
.pw-footer a{color:#333;cursor:pointer;display:inline-block;width:100%;position:relative;padding-top:5px;font-size:12px}
.pw-footer a.selected{color:#36aaa4}
.pw-footer img{width:20px;height:20px;display:block;margin:3px auto}
.pw-list{position:relative;background-color:#fefefe}
.pw-list a{display:block;position:relative;padding-left:10px;height:40px;line-height:40px;color:#303030;font-size:14px;border-bottom:1px solid #e0e0e0}
.allow-right::after{content:" ";position:absolute;right:20px;top:15px;width:8px;height:8px;border:#ccc solid 1px;border-left:none;border-bottom:none;-webkit-transform:rotateZ(45deg);-moz-transform:rotateZ(45deg);-ms-transform:rotateZ(45deg);-o-transform:rotateZ(45deg);transform:rotateZ(45deg)}
.pw-info{font-size: 18px;font-size: 1.0rem;line-height:24px;line-height:1.71rem;padding:15px;padding:1.07rem}
.pw-info-t{font-size: 24px;font-size: 1.2rem;font-weight:bold;text-align:center;margin:20px 0;margin:1rem 0}
.pw-subtitle{text-align: center;font-size: 16px;font-size: 0.88rem;color:#666;}
/*.pw-info h2{font-size: 18px;font-size: 1.28rem;text-align:left}*/
.pw-info h3{text-align:center;font-size:16px;font-size:1.14rem}
.pw-info-zxrz{text-align:center;font-weight:700;padding:10px 0}
.pw-news-back{border-bottom:1px solid #ddd;height:48px;line-height:50px;height:.42rem;line-height:3.57rem;background:#36aaa4}
.pw-news-back img{width:18px;height:18px;margin:16px 0 8px 10px}
.pw-info-img{text-align:center;margin:10px auto}
.pw-info-time{color:#999;font-size:14px;padding:10px 0}
.pw-info-line{height:10px;border-bottom:1px solid #ddd;margin-bottom:10px;clear:both;overflow:hidden}
.pw-info table{border:0;width: 100%;}
.pw-info th{text-align:right;white-space:nowrap;width:100px;vertical-align:top}
.pw-info-thLeft th{text-align:left;width:200px}
.tdWidth100 th{width:110px}
.pw-info-en th{text-align:left;white-space:nowrap}
.pw-info td{word-wrap:break-word;word-break:normal;}
.pw-info .taCenter{text-align:center}
.pw-info p{font-size:16px;line-height:26px;padding-bottom:10px;word-wrap:break-word;overflow:hidden;text-align:justify;text-indent:0;color:#333}
.pw-info-cnt p{text-indent:2em}
.pw-info-cnt img{width:100%}
.pw-info-p{margin-top:20px}
.pw-info-p p{text-indent:2em}
.pw-info .pi-error{color:#666;text-align:center}
.pi-error img{width:50px;margin:20px}
.pw-menu{padding-bottom:10px}
.pw-menu ul{height:36px;line-height:36px;padding:0 16px}
.pw-menu li{float:left;height:32px;padding:2px 18px}
.pw-menu li:hover{color:#36aaa4}
.pw-menu a,.pw-menu a:hover,.pw-menu a:visited{color:#333}
.pw-menu .selected a,.pw-menu .selected a:hover,.pw-menu .selected a:visited{border-bottom:2px solid #36aaa4;color:#36aaa4;display:inline-block;height:32px}
.news-lists{padding:10px}
.news-lists li{border-top:1px solid #ccc;position:relative;padding-bottom:30px;padding-top:10px}
.news-lists li:first-child{border-top:0;padding-top:0}
.news-lists h5{padding:0;margin:0;font-size:18px;font-weight:700}
.news-lists p{color:#9E9D9D}
.news-lists .time{position:absolute;right:2px;bottom:2px;font-size:14px}
.pw-info-pc{text-align:center;border:1px solid #ccc;background:#ECECEC;font-size:16px;padding:3px;margin-top:20px}
.pw-info-pc a,.pw-info-pc a:hover,.pw-info-pc a:visited{color:#666;display:block;height:24px;line-height:26px}
body,html{font-size:14px}
.page-wrapper{width:100%}
.pw-news{margin:.375rem 0}
.pw-block{margin:.375rem 0;padding:.25rem .375rem}
.pw-block h3{font-size:.45rem;padding:.15rem 0}
.pw-block li{font-size:.4rem;line-height:.7rem;padding:.2rem 0;}
/**鏌ヨ**/
.pw-search{margin: 0 auto;}
.pw-search .input_text{width:100%;height:32px;line-height:32px;height:2.29rem;line-height:2.29rem;border:0;padding:0 7px;padding:0 0.50rem;box-sizing: border-box;font-size: 16px;font-size: 1.0rem;}
.pw-search .input_t_s{width:60%}
.pw-search .search-from{border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;margin: 20px 0;margin: 1rem 0;background-color: #fff;}
.pw-search .search-from li{position:relative;margin: 0 14px;margin: 0 1.0rem;border-top:1px solid #e5e5e5;padding: 6px 0;padding: 0.42rem 0}
.search-from li:first-child{border-top:0}
.pw-search .rzbg-cxm{display:inline-block;position:absolute;right:0;top:8px;top:0.45rem;width:40%;padding-left:14px;padding-left:1rem;box-sizing:border-box;line-height:38px;line-height:2.11rem;}
.rzbg-cxm img{height:32px;height:2.29rem;width:100%}  
.pw-search .sf-block{margin:20px 20px 40px;margin:1rem 1rem 2rem;}
.ps-notice{font-size: 16px;font-size: 0.88rem;margin:20px 0;margin:1.11rem 0;}
.ps-notice h3{border-top: 1px solid #e5e5e7;border-bottom: 1px solid #e5e5e7;padding: 10px 20px;margin-top: 20px;padding:0.5rem 1rem;margin-top: 1rem;}
.ps-notice h3 img{ width: 18px;margin: -4px 10px 0 0;width: 1rem;margin: -0.28rem 0.56rem 0 0;}
.ps-notice p {line-height: 32px;margin: 10px 20px;line-height: 1.6rem;margin: 0.5rem 1rem;}
.msg-import{font-weight: bold;margin: 0 6px;margin: 0 0.3rem;color: #E24A4A;}
/**鏌ヨ缁撴灉椤甸潰**/
.pw-chooseLan{position: relative;}
.pw-chooseLan a{border:1px solid #3fa5aa;display:inline-block;text-align:center;padding:0 10px;background-color:#fff;color:#6f6f6f}
.pw-chooseLan .current{background-color:#3fa5aa;color:#fff;}
#noenreport{position: absolute;background-color: #fffef9;padding: 10px 20px;border: 1px solid #dcdcdc;-webkit-box-shadow: 0px 0px 4px 0px #dcdcdc;box-shadow: 0px 0px 4px 0px #dcdcdc;padding: 0.5rem 1rem;width: 100%;box-sizing: border-box;top: 50px;top: 2.5rem;font-size: 18px;font-size: 0.9rem;}
 #noenreport img {position: absolute;top: -15px;left: 190px;top: -0.75rem;left: 9.5rem;height: 15px;   height: 0.75rem;}
#noenreport .nr-detail{color: #06c;cursor: pointer;}
.pw-pdf{display: inline-block;position: absolute;right: 0;top: -2px;width: 30px;}
.pc-zxyzbg{   background-color: #fff8dd;padding:20px 0 20px 10px;margin: 20px;line-height: 32px;color: #666;box-sizing: border-box;height: 100px;font-size: 18px;font-size: 0.9rem;height: 5rem;padding: 1rem 0 1rem 0.5rem;margin: 1rem;line-height: 1.4rem;}
.pc-zxyzbg .pz-left{float: left;width: 18%;}  
.pc-zxyzbg .pz-left img{width: 58px;width: 2.9rem;margin-left: 10px;margin-left: 0.5rem;}  
.pc-zxyzbg .pz-right{float: left;width: 82%;}

@media only screen and (max-width:360px){
    body,html{font-size:16px} 
    .pc-zxyzbg .pz-left img{margin-left: 0px;}  
}
@media only screen and (min-width:361px) and (max-width:480px){
    body, html{font-size:18px;}
    .pw-search .rzbg-cxm{width:35%}
    .pw-search .input_t_s{width:65%}  
    .pc-zxyzbg .pz-left img{margin-left: 0px;}    
}
@media only screen and (min-width:480px) {
    body, html{font-size:20px;}
    .pw-search .rzbg-cxm{width:30%}
    .pw-search .input_t_s{width:70%}    
}
@media only screen and (min-width:641px){
    .pw-search,.pw-content{width:560px}
}

